.region-item-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2vh 2vw;
}

.region-item-acordion-btn-left {
    font-size: 1.2rem;
    justify-self: end;
    align-self: center;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
}

.region-item-acordion-btn-right {
    justify-self: start;
    align-self: center;
    font-size: 1.2remrem;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    color: black;
}

.item-region-name {
    color: #000;
    text-align: center;
}

.dropDown-container{
    justify-self: start;
    align-self: center;
}